body {
    background-color: black;
    font-family: 'Lucida Grande', Verdana, Arial;
    font-size: 12px;
    background-image: -webkit-gradient(radial,
				       center center, 1,
				       center center, 350,
				       from(rgba(255, 255, 255, 0.5)),
				       to(rgba(255, 255, 255, 0)));
    background-repeat: no-repeat;
    font-family: Times, serif;
    -webkit-user-select: none;
}

#control {
    position: relative;
    top: 70px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    height: 35px;
}

#flag {
    background-image: url('myflag.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    width: 35px;
    color: transparent;
}

#message {
    background-color: transparent;
    color: white;
    font-size: 24px;
    width: 150px;
    position: relative;
    top: 75px;
    display: table-cell;
}    

#stage {
    width: 100%;
    height: 600px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-user-select: none;
    -webkit-perspective: 800;
    -webkit-perspective-origin: 50% 50%;
    -webkit-transform: translateY(-20px);
    -webkit-transform-style: preserve-3d;
}

#grid {
    position: relative;
    top: 50px;
    -webkit-transition: -webkit-transform 0.5s;
    -webkit-transform-style: preserve-3d;
}

.plane {
    border: 1px solid black;
    padding: 0px;
    text-align: center;
    font-size: 24pt;
    vertical-align: middle;
    color: black;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-out;
    -webkit-transition: -webkit-transform 2s;
    -webkit-backface-visibility: hidden;  //visible;

    position: absolute;
}

.cell {
    border: 1px solid black;
    padding: 0px;
    text-align: center;
    font-family: Times, serif;
    font-size: 24pt;
    vertical-align: middle;
    color: black;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-out;
    -webkit-transition: -webkit-transform 2s;
    -webkit-backface-visibility: hidden;  // visible;

    display: table-cell;
}

.hiddenEven {
    background-color: #b0b0b0;
}

.hiddenOdd {
    background-color: #a0a0a0;
}

.exploded {
    background-color: yellow;
    -webkit-animation-name: explodePulse;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 10;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

.hasBomb {
    background-image: url('bomb.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: red;
}

.hasFlag {
    background-image: url('myflag.png');
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.flagChoice {
    background-color: rgb(120,181,210);
}

@-webkit-keyframes hintPulse {
    0%,100% {z-index:999; -webkit-box-shadow: inset 0 0 0px 0px #f00;}
    50% {z-index:999; -webkit-box-shadow: inset 0 0 5px 5px #f00;}
}

@-webkit-keyframes explodePulse {
    0% {background-color: yellow;}
    100% {background-color: red;}
}

