body {
    background-color: black;
    font-family: 'Lucida Grande', Verdana, Arial;
    font-size: 12px;
    background-image: -webkit-gradient(radial,
				       center center, 1,
				       center center, 400,
				       from(rgba(255, 255, 255, 0.3)),
				       to(rgba(255, 255, 255, 0)));
    background-repeat: no-repeat;
}

button {
    border: 3px solid black;
    position: relative;
    top: 70px;
}

#message {
    background-color: white;
    width: 150px;
    position: relative;
    top: 90px;
}    

#grid {
    background-color: black;
    border: 3px solid black;
    position: relative;
    top: 50px;
    display: table;
}

.row {
    display: table-row;
}

.cell {
    padding: 0px;
    text-align: center;
    border: 1px solid;
    display: table-cell;
    vertical-align: middle;
}

.hidden {
    background-color: #b0b0b0;
}

.exploded {
    background-color: yellow;
}

.hasBomb {
    background-image: url('bomb.png');
    background-position: center;
    background-repeat: no-repeat;
}
